<!--The content below is only a placeholder and can be replaced.-->
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

<div class="container">

    <div class="row">
      <div class="col" id="title">
        <h1><br> Electronic <br> Safety <br>Advisor for <br>Vaccines</h1>
      </div>
      <div class="col-8" id="banner">
      </div>
    </div>
    <div class="row line-cards" id="cards">
      <div id="colTemp" class="col-md-4 box alert-info box card-info-alert shadow rounded" [ngStyle]="{ 'background-color': temperature > 25 ? '#e97769' : '#cff4fc'}">
        <p> Temperature </p>
        <p id="temp1"><span class="symbol-metric">{{temperature || 0}} °C</span></p>
      </div>
      <div id="colAlt" class="col-md-3 box alert-info card-info-alert shadow rounded">
        <p> Altitude</p>
        <p id="alt1"><span class="symbol-metric">{{altitude || 0}} m</span></p>
      </div>
      <div class="col-md-4 box alert-info card-info-alert shadow rounded">
        <p>Speed</p>
        <p id="speed"><span class="symbol-metric">{{speed || 0}} Km/h</span></p>
      </div>
      <!-- <div class="col-md-2 box alert-info card-info-alert">
        <p>Forecast</p>
        <p id="speed"><span class="symbol-metric">11 seconds</span></p>
      </div> -->
    </div>
    <div class="row row-map">
      <div class="col-md-12">
        <app-map></app-map>
      </div>
    </div>
    <div class="row my-chart-row shadow rounded">
      <div id="myChart" class="col-md-12 card-like"></div>
    </div>
  </div>