<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

<nav class="navbar">
  <div class="container-fluid">
    <a class="navbar-brand">
      <img
        src="https://d1.awsstatic.com/logos/aws-logo-lockups/poweredbyaws/PB_AWS_logo_RGB_stacked_REV_SQ.91cd4af40773cbfbd15577a3c2b8a346fe3e8fa2.png"
        width="30" height="24" class="d-inline-block align-text-top">
    </a>
    <p style="color:aliceblue"> ELSA - Latam Builder's Fair 2021</p>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col" id="title">
      <h1><br> Electronic <br> Safety <br>Advisor for <br>Vaccines</h1>
    </div>
    <div class="col-8" id="banner">
    </div>
  </div>
  <div class="row" id="cards">
    <div id="colTemp" class="col alert-info box">
      <p> Temperature </p>
      <p id="temp1">{{temperature || 0}}</p>
    </div>
    <div id="colAlt" class="col alert-info box">
      <p> Altitude</p>
      <p id="alt1">{{altitude || 0}}</p>
    </div>
    <div class="col alert-info box">
      <p>Speed</p>
      <p id="speed">{{speed || 0}}</p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <app-map></app-map>
    </div>
  </div>
  <div id="myChart"></div>
</div>